{% include "partials/_header.html.twig" %}

<main>

    {% for article in articles %}
        <h1>{{ article.title }}</h1> <!-- je mets mon titre d'article -->
        <p>{{ article.content }}</p>
        <div>
            <img src="{{ article.image }}" alt="">
        </div>
    {% endfor %}
</main>

{% include "partials/_footer.html.twig" %}