{% extends 'base.html.twig' %}

{% block metatitle %}
    Catégories | CR7
{% endblock metatitle %}

{% block main %}
    <h1>Liste des catégories</h1>
    {% for category in categories %}
        <h2>{{ category.title }}</h2>
        <p>{{ category.color }}</p>
        <a href="{{ path("category_show", {id: category.id}) }}">voir tout</a>
    {% endfor %}
{% endblock main %}

