{% extends 'base.html.twig' %}

{% block metatitle %}Modifier l'article{% endblock metatitle %}

{% block main %}

    <!--<form method="POST">

        <label for="title">Titre de l'article</label>
        <input type="text" name="title" value="{{ category.title }}">value pour préremplir les champs avec category.title déjà existant

        <label for="content">Contenu de l'article</label>
        <input type="color" name="color" value="{{ category.color }}">


        <button type="submit">Envoyer</button>

    </form>-->

    {{ form(formView) }}


{% endblock main %}