{% extends 'base.html.twig' %}

{% block metatitle %}
    Catégories | CR7
{% endblock metatitle %}

{% block main %}

        <h1>Liste des catégories</h1>
        {% for category in categories %}
            <section style="background-color: {{ category.color }};">
                <h2>{{ category.title }}</h2>
                <a href="{{ path('category_show', {id: category.id}) }}">voir tout</a>
            </section>
        {% endfor %}

{% endblock main %}

