{% extends 'base.html.twig' %}

{% block metatitle %}
  {{ category.title }}
{% endblock metatitle %}

{% block main %}
    <h1>{{ category.title }}</h1>
    <p>{{ category.color }}</p>
{% endblock main %}