{% extends "base.html.twig" %}

{% block metatitle %}
    Pas trouvé la page | CR7
{% endblock metatitle %}

{% block main %}

    <h2>La page que vous recherchez n'existe pas</h2>

{% endblock main %}